<head>
  <p><%- include('partials/head') %></p>
  <h4><%- include('partials/nav') %></h4>
</head>

<body>
  <h1>Hi there <%= user.firstName %> <%= user.lastName %>!</h1>
</body>
<footer><%- include('partials/footer') %></footer>
